@tailwind base;
@tailwind components;
@tailwind utilities;

.video-container {
    position: relative;
    width: 100%;
    max-width: 500px; /* Ajuste conforme necessário */
    height: auto;
}

#video {
    width: 100%;
    height: auto;
    display: block;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Impede que o canvas bloqueie cliques no vídeo */
}
